@font-face{
    font-family:dinNext;
    src: url("../Fonts/din-next-lt-w23-regular.ttf");
}

body{
    font-family: 'dinNext';
        position: relative;
        font-size: 14px;
        direction: rtl;
        text-align: right;
       
}

header{
    width: 100%;
    box-shadow: 0 0 34px 0 rgba(209, 209, 209, 0.5);
    background-color: #ffffff;
    padding:30px;
}

img{
    width:100%;
}
ul{
    margin:0;
    padding:0;
    list-style: none;
}
ul li{
    list-style: none;
}
a:hover{
text-decoration: none;
}
header{
    height:100px;
}
.logo{
  width:  120px;
}
.navbar {
   margin:0 auto;
}

.nav-link{
    font-size:18px;
color:black;
padding:0 25px !important;
position: relative;}
.nav-item.active .nav-link{
    color:#0991d2 !important;
}
.nav-item.active .nav-link:before{
    background-color:#0991d2;
}
.nav-link:before{
    content:"";
position: absolute;
text-align: center;

width:7px;
height:7px;
border-radius: 50%;
bottom: -11px;
right: 50%;

}
.askBtn{
        padding:4px 24px;
        border-radius: 21.5px;
        border: solid 1px #0991d2;
        background-color: #0991d2;
        color:white;
        font-size:14px;
        text-align: center;
        display: block;
        float: left;
        cursor: pointer;
    }
    .askBtn:hover{
        color:white
    }
    .verticalSocial{
        position: fixed;
        right:0;
        top:230px;
        z-index: 99999999;
    }

    .verticalSocial ul li{
        padding:10px 32px;
    }
    .verticalSocial ul li:hover{
   
       border-top-left-radius: 100px;
       border-bottom-left-radius: 100px;
        box-shadow: 0 2px 13px 0 rgba(9, 145, 210, 0.48);
        background-color: #0991d2;
    }
    .verticalSocial ul li:hover a{
        color:white;
    }
    .verticalSocial ul li a{
        color:#bdc9d9;
        font-size:15px;
    }
.blueColor{
    color:#0991d2;

}

.heroCont h2{
    font-size:4.1vw;
    color:black;
}
.heroCont h2 span{
    font-size: inherit;
}
section{
    padding:100px 0;
    position:relative
}

.grayColor{
    color:#aab3c2;
}
.imgContainer{
        width: 30%;

background-image: url("../img/2-2.png");
background-size: cover;
background-repeat: no-repeat;
left: 0;
    top: 0;
position: absolute;
padding-top:72px;
}

.heroImg{
    text-align: left;


}.circleBlue{
    position: absolute;
    right:0;
    bottom:-106px;
    width:10%;
}
p{
    color:#aab3c2;
}

.heroImg img{
    width:95%
}
.services{
    padding:250px 0;
}
.sectionTitle{
    font-size:4.1vw;
}
.ServiceBG{
    position: absolute;
}
.serviceImg{
    height:100%;
    display:table;
    transition: .5s;
}
.serviceImg:hover{
    transform: scale(1.1);
    transition: .4s;
}
.ServiceImgLaptop{
    background-image:url("../img/clientMask.png");
    background-size:contain;
  width:100%;
    background-repeat: no-repeat;
   
    background-position: center center;
    vertical-align: middle;
    display: table-cell;
}
.serviceCont{
    overflow: hidden;
}
.serviceCont.halfService img{
    height: 50%;
}.serviceCont img{
    height:100%;
    transition: .5s;
}
.serviceCont img:hover{
    transform: scale(1.2);
    transition: .5s;
}
.serviceList li{
    padding:5px 20px;
}
.serviceList li h6{
    font-size:2vw;
}
.serviceDetails{
    margin-bottom:130px;
}
.serviceList li:hover{
    border-radius: 28px;
    box-shadow: inset 0 11px 23px 0 rgba(123, 123, 123, 0.19);
    background-color: #ffffff;
}
.serviceList li p{
font-size :1.1vw;
margin-bottom:0;
}
.PartnerSliderItem{
    transition: .4s;
    overflow: hidden;
}
.PartnerSliderItem:hover{
transform: scale(1.1);
transition: .4s;

}
.choice{
    background:url("../img/bg.png") no-repeat center;
    background-size:cover;
    padding-bottom:300px;
}
.choice h2{
    font-size:22px;
}
.choiceDetails{
    font-size:20px;
    color:black;
}
.choiceDetails{
    counter-reset: item;
    list-style-type: decimal-leading-zero;
}
.choiceList li h2{
    position: relative;
}
.choiceList h2 {
    margin-right:20px;
}
.choiceList h2 span{
    position: absolute;
    right: -36px;
    top: 5px;
    font-weight: bold;
    font-size:16px;
}
.choiceImg{
    position: absolute;
    left:0;
    width:50%;
    top:0;
}
.blueCircle{
    border-radius: 50%;
    width:90px;
    height:90px;
    position: absolute;
    background-color:#a6dffb;
    right: 106px;
    bottom: 20px;
}
.squair{
    position: absolute;
    bottom:0;
    left:0;
    width:30px;
    height:30px;
    border-radius: 4px;
    left:100px;
    background-color:#f6dcc8;
    transform: rotate(120deg);
}
.OpacitySquire{
    opacity: .4;
    right:100px;
    left:auto;
    bottom:-50px;
    filter: blur(5px);
}
.counter .CountCont{
    background-image:url("../img/counterbg.png");
    padding:50px 0;
    background-size:cover;
}
.count{
    color:white;
    text-align: center;
}
.count span{
    font-size:45px;
}
.count p{
    font-size:20px;
    color:white;
}
.modalLogo{
    margin:auto;
    width:100px;
}
#askModal .modal-content{
padding:43px 32px;
border-radius: 42px;;
}
.modal .form-group{
    margin-bottom:20px;
}
.modal .selectFormGroup{
margin-bottom:0;
}
.modal .form-control,textarea{
    border:0;
    border-bottom:2px solid #d4d4d4;    
    border-radius: 0;
    width:100%;
}
.modal .form-group label{
    font-size:16px;
    color:black;
}
.modal .form-control::placeholder{
    color:#757575;
    font-size:16px;
    margin-bottom:0

}
textarea{
display: block;
    resize: none;
    color:#757575;
    font-size:16px;
    width:100%;
    height:100px;
}
.selectric-wrapper{
border:0;
border-bottom: 2px solid #d4d4d4;
direction: rtl;
margin-bottom:25px;
}
select{
    position: relative;
}
  
select::-ms-expand{
    display:none;
}
.selectric .button{
    color:white;
    background-color:#0991d2;
    width:20px;
    height: 20px;
    border-radius: 50%;;
}
.selectric .label{
    color:#757575;
}
.selectric-items li.selected{
    color:#757575;
}
.selectric-items li:hover {
      color:white;
      background-color: #0991d2;
    ;
}
.modalBtn{
    background-color:#0991d2;
    color:white;
    width:100%;
    border-radius: 20px;

}
footer{

padding-top:215px;
padding-bottom: 40px;
    background-image: url("../img/footer.png");
    background-size:cover;
    width:100%;

}
.footerSec h2{
    font-size:19px;
    color:white;
}
.footerSec{
    width:80%;
}
.footerSec p,.footerSec span{
    font-size:14px;
    color:white;
    display: block;
}
.footerSec p{
    line-height: 1.8;
}
.footerSec span{
    margin-bottom:10px;
}
footer form .form-control{
    border:0;
    background:rgba(255,255,255,.22);
    border-radius: 10px;

    box-shadow: none;
}
footer form .form-control:focus{

    background:rgba(255,255,255,.22);  
}
footer form .form-control::placeholder{
    color:white;
    font-size:.7vw;
}
.footerBtn{
    background-color: white;
    border-radius: 10px;
    width:100%;
    color:#0991d2;  
}
.footerBtn:hover{
    background-color:#0991d2;  
    color:white
}
footer form .form-control::placeholder{
color:white;
font-size:14px;
}
.copyRight{
    padding:29px 0;
    width:100%;
    background-image: linear-gradient(83deg, #66ddff  10%, #6e72ff 87%);
    color:white;
}
.copyRight ul li{
    display:inline-block;
    margin-right:20px;
}
.copyRight ul li a{
    color:white;
    font-size:15px;

}
.ClientImg{
    width:40%;
    position: relative;
display:inline-block;
}
.clientDesc h2{
    font-size:36px;
    color:#0991d2;
}
.scrollNav {
    top: 0 !important;
    z-index: 555;
    animation-duration: 1s;
    background: rgb(255, 255, 255) !important;
    position: fixed !important;
    box-shadow: rgba(0, 0, 0, 0.2) 2px 3px 7px 3px;
    transition: 1s all;
    left: 0;
    width:100%;
    height:95px;
}

.CImg{
    width:40%;
    display:inline-block;
    background-image:url("../img/clientMask.png");
    background-size:contain;
    padding:80px 50px;
    background-repeat: no-repeat;
    transition: .5s;
}
.CImg:hover{
    transform:scale(1.1);
    transition:.5s;
}
.clientSlider{
    display: table;
}
.clientDesc{
    display:table-cell;
    vertical-align: middle;
   float:left;
   width:45%;
   padding:20px;
   margin-top:100px;
}
.clientDesc h3{
    font-size:22px;
    color:black;
}
.clientDesc p{
color:#9299a5;
font-size:16px;
}
.clientDesc span{
    font-size:14px;
}
.copyRightSocial{
    text-align: left;
}
.serviceCont{
    display:inline-block;
    width:33.33%
}
.topRightBorder{
    border-top-right-radius: 100px;
}



@media(min-width:1400px){

    body{
        font-size:18px;
    }
}
@media(min-width:320px)and (max-width:767px){
    .navbar-collapse{
position: absolute;
background-color:white;
top:0;
left:0;
width: 100%;
z-index: 33333;
  box-shadow: 0 0 34px 0 rgba(209, 209, 209, 0.5);
  padding:20px;
    }
    header{
        padding:10px;
    }
  
    .wow{
        animation-name: none !important;
        visibility: visible !important;
    }
    body{
        font-size:13px;
    }

.navbar {
    margin:0;
    float: left;
    width:100%;
}
.navbar-nav {
    width: 100%;
    text-align: center;
    margin: 20px 0;
}
.ask{
    width:100%;
}
.askBtn{width:100%}
    .nav-link::before,.verticalSocial,.imgContainer,.choiceImg {
        display:none;
    }

section{
    padding:15px 0;
}
.services{
    padding:50px 0;
}
.serviceList li {
    margin-bottom: 15px;
    padding: 15px;
}
.serviceList li h6 {
    font-size: 25px;
}
.serviceList li p {
    font-size: 15px;
}
.choiceList h2 span {
    position: absolute;
    right: -21px;
}
.choice{
    padding-bottom:50px;
}
.count span {
    font-size: 36px;
}
.count p {
    font-size: 16px;
}
.sectionTitle {
    font-size: 31px;
}
.sectionSmallTitle {
    font-size: 1.4vw;
}
.CImg{
    padding: 20px;
}
.clientDesc{
    margin-top:auto;
    width:57%;
    padding:0;
}
.clientDesc h2{
 font-size: 21px;
}
.clientDesc h3 {
    font-size: 14px;
 
}
.clientDesc p {
    font-size: 13px;
}
.clientDesc span {
    font-size: 12px;
}
.copyRightSocial{
    text-align:right;
    margin-top:10px;
}
.serviceDetails{
margin-bottom:50px;
}
footer{
  background-image: linear-gradient(83deg, #66ddff  10%, #6e72ff 87%);
  padding-top:50px;

}
.CountCont{
    background-image:linear-gradient(83deg, #767676   10%, #000 87%) !important;
}
.serviceCont {
    width:100%;
}
.askBtn{
    display: block;
    text-align: center;
    margin-top: 20px

}


button.navbar-toggler {
    position: relative;
    background: #0991d2;
    border: none;
    width: 40px;
    height: 40px;
    text-indent: -900em;
    cursor: pointer;
    border-radius: 0;
    opacity: .7;
}
button.navbar-toggler:after {
    content: '';
    position: absolute;
    width: 50%;
    height: 3px;
    background: #fff;
    top: 12px;
    left: 0;
    right: 0px;
    margin: auto;
    box-shadow: 0 7px 0 #fff, 0 14px 0 #fff;
}
header{
    height: auto;
}
.scrollNav{
    height:auto
}
}
@media(min-width:767px) and (max-width:1024px){
    .heroCont h2{
        font-size:30px;
    }
    .imgContainer{
        display: none;
    }
    .services{
        padding-top:50px;
    }
    section{
        padding:20px 0;
    }
    .serviceList li{
        margin-bottom:5px;
        padding:0 20px
    }
    .serviceList li p {
font-size:15px;
    }.serviceList  h6{
font-size:22px;
    }
    .ServiceImgLaptop{
        display:none;

    }
    .counter .CountCont{
padding:50px 20px;
    }
    .clientDesc{
        width:60%;
        float:right;
        margin-top:20px;
    }
    .CImg {
        width:35%
    }
    .clientDesc h2 {
        font-size: 33px;
    }
    .clientDesc h3 {
        font-size: 20px;}
    
    .askBtn {
        padding: 7px 15px;
   
   font-size: 13px; }
   .navbar-light .navbar-toggler{
       display:none !important;
   }
   .nav-item{
       display: inline-block;

   }
   .nav-link {
    font-size: 14px;
    padding: 0 13px !important;}

   .collapse.navbar-collapse{
       display: block !important;
   }
   .navbar-nav{
       display: inline-block;
   }
   .logo img{
       width:90%;
   }
   footer{
    background-image: linear-gradient(83deg, #66ddff  10%, #6e72ff 87%);
    padding-top:50px;
  
  }
   footer .form-control::placeholder{
color:white;
  }

}